Package: com.yourcompany.test
Name: Test
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: Yes Romin, I programmed this!
Maintainer: Neil Chulani
Author: Neil Chulani
Section: Tweaks
